// Colors
$white-red: #e17055;
$dark-red: #d63031;
$dark-red2: #ff0505 ;
$dark-red3: #790505 ;
$dark-pink: #e84393;
$green: #0bfd20;
$green2: #0bfd8c;
$green3: #01be7f;
$green4: #04a511;
$dark-gray: #2d3436;
$dark-gray1: #212529;
$dark-gray2: #595959;
$light-blue: #171729;
$dark-blue: #2b2b83;
$dark-blue2: #2d368b;
$dark-blue3: #1c225a;
$sky-blue: #19a0db;
$sky-blue2: #0772a0;
$sky-blue3: #005174;
$white: #ffffff;
$gray1: #dee2e6;
$gray2: #f8f9fa;
$zone-blue: #2c3990;
